In [15]:
import pandas as pd
import numpy as np

In [2]:
dictionary = {'A':'an animal',
              'B':'a color',
              'C':'a fruit'}
dictionary = pd.Series(dictionary)
dictionary

A    an animal
B      a color
C      a fruit
dtype: object

In [3]:
dictionary2 = {'A':['an animal'],
              'B':['a color'],
              'C':['a fruit']}
dict_2 = pd.DataFrame(dictionary2,index=['321'])
dict_index = pd.DataFrame(dictionary2,index=['321'],columns=['1','2','3'])
print(dict_2['A'])

321    an animal
Name: A, dtype: object

# DataFrame新增資料        方法一某列的值沒滿則會顯示Nan、方法二則會遞補

In [5]:
# 方法一直接插入
data = {'name': ['Bob', 'Nancy','Amy','Elsa','Jack'],
        'year': [1996, 1997, 1997, 1996, 1997],
        'month': [8, 8, 7, 1, 12],
        'day':[11,23,8,3,11]}
df = pd.DataFrame(data,columns=['name','year', 'day', 'month','aaa'])
print('新增前=','\n',df)
aaa = ['1','2','3','4','99']
df['aaa'] = aaa
print('新增後=','\n',df)

新增前=
     name  year  day  month  aaa
0    Bob  1996   11      8  NaN
1  Nancy  1997   23      8  NaN
2    Amy  1997    8      7  NaN
3   Elsa  1996    3      1  NaN
4   Jack  1997   11     12  NaN
新增後=
     name  year  day  month aaa
0    Bob  1996   11      8   1
1  Nancy  1997   23      8   2
2    Amy  1997    8      7   3
3   Elsa  1996    3      1   4
4   Jack  1997   11     12  99

In [6]:
# 方法二用insert(loc,column,value)
data2 = {'fruit':['apple','bananas','grapes'],
          'animals':['dog','cat','frog'],
          'plants':['flower','grass','water']
        }
data2 = pd.DataFrame(data2)
print('新增前=','\n',data2)
data2.insert(3,column="sport",value=['basketball','baseball','tennis'])
print('新增後=','\n',data2)

新增前=
      fruit animals  plants
0    apple     dog  flower
1  bananas     cat   grass
2   grapes    frog   water
新增後=
      fruit animals  plants       sport
0    apple     dog  flower  basketball
1  bananas     cat   grass    baseball
2   grapes    frog   water      tennis

# 資料刪除
dropna()可刪除Nan的資料

In [7]:
data3 = {'fruit':['apple','bananas','grapes'],
          'animals':['dog','cat','frog'],
          'plants':['flower','grass','water']
        }
data3 = pd.DataFrame(data3)
data3 = pd.DataFrame(data3,columns=["fruit","animals","plants","ball"])
ball = [1234]
ball = pd.Series(ball)
data3['ball']=ball
print(data3)
drop_data3 = data3.dropna()
print('===============================================drop之後============================================')
print(drop_data3)

     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass     NaN
2   grapes    frog   water     NaN
===============================================drop之後============================================
   fruit animals  plants    ball
0  apple     dog  flower  1234.0

# 空白資料填充
   fillna()把NaN的資料代換掉

In [8]:
print(data3)
fill_data3 = data3.fillna(123)
print('===============================================置換之後============================================')
print(fill_data3)

     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass     NaN
2   grapes    frog   water     NaN
===============================================置換之後============================================
     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass   123.0
2   grapes    frog   water   123.0

# 資料排序
sort_values(by欄位)

In [9]:
sort_data3 = fill_data3.sort_values("ball")
# ascending= False將資料反轉
sort_ascending_data3 = fill_data3.sort_values("ball",ascending= False) 
print(sort_ascending_data3)

     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass   123.0
2   grapes    frog   water   123.0

# 資料篩選

In [10]:
print('=======================================選出ball列中為1234的行=========================================')
data3_ball = (sort_ascending_data3['ball'] == 1234)
print(sort_ascending_data3[data3_ball])
print( '======================================選出ball列中不為1234的行===========================================')
data3_ne_ball = (sort_ascending_data3['ball'] != 1234)
print(sort_ascending_data3[data3_ne_ball])
print('=================================選出animals為dog且plants為flower======================================')
# 先插入一行資料
new=pd.DataFrame({'fruit':'lisa',
                  'animals':'dog',
                  'plants':'flower',
                  'ball':19},
                 index=[3])
sort_data3_vo2 = sort_ascending_data3.append(new)
# 篩選資料!!
data3_dog = (sort_data3_vo2['animals'] == 'dog')
data3_plants = (sort_data3_vo2['plants'] == 'flower')
print(sort_data3_vo2[data3_dog & data3_plants]) #(運算子符號) 或 |、且 &

=======================================選出ball列中為1234的行=========================================
   fruit animals  plants    ball
0  apple     dog  flower  1234.0
======================================選出ball列中不為1234的行===========================================
     fruit animals plants   ball
1  bananas     cat  grass  123.0
2   grapes    frog  water  123.0
=================================選出animals為dog且plants為flower======================================
   fruit animals  plants    ball
0  apple     dog  flower  1234.0
3   lisa     dog  flower    19.0

除了運算子也可使用isin()

In [11]:
print(sort_data3_vo2[sort_data3_vo2['fruit'].isin(['apple'])])
# [fruit是apple] 或 [ball是1234或123]
print(sort_data3_vo2[sort_data3_vo2['fruit'].isin(['apple']) | sort_data3_vo2['ball'].isin([1234,123])])

   fruit animals  plants    ball
0  apple     dog  flower  1234.0
     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass   123.0
2   grapes    frog   water   123.0

isnull()和notnull()，用來判斷欄位是否為Nan，若有符合回傳true則false

In [12]:
print("=======================================原始值==========================================")
new2 = pd.DataFrame({
    'fruit':'orange',    
    'plants':'flower',
    'ball':19
    },index=[3])
sort_data3_null = data3.append(new2)
print(sort_data3_null)
print("=======================================ball有Nan的==========================================")
data3_null = sort_data3_null['ball'].isnull()
print(sort_data3_null[data3_null])
print("=======================================animals有Nan的==========================================")
data3_animals_null = sort_data3_null['animals'].isnull()
print(sort_data3_null[data3_animals_null])

=======================================原始值==========================================
     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass     NaN
2   grapes    frog   water     NaN
3   orange     NaN  flower    19.0
=======================================ball有Nan的==========================================
     fruit animals plants  ball
1  bananas     cat  grass   NaN
2   grapes    frog  water   NaN
=======================================animals有Nan的==========================================
    fruit animals  plants  ball
3  orange     NaN  flower  19.0

也可使用between (兩個時間之間)

In [13]:
print(sort_data3_vo2)

print(sort_data3_vo2[sort_data3_vo2['ball'].between(123,1234)])

     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass   123.0
2   grapes    frog   water   123.0
3     lisa     dog  flower    19.0
     fruit animals  plants    ball
0    apple     dog  flower  1234.0
1  bananas     cat   grass   123.0
2   grapes    frog   water   123.0

# Pandas索引(index)的運用

In [44]:
b2b_csv = pd.read_csv("B2B發票匯入.csv")
print(b2b_csv,"\n")


# 將column設定成index有兩個方法
# 1.set_index(column,inplace=True) 
print("=======================================使用.set_index()==========================================")
b2b_csv.set_index("order_id",inplace=True)
print(b2b_csv)
# 2.在read_csv時使用index_col
print("=======================================使用index_col==========================================")
b2b_csv_index = pd.read_csv("B2B發票匯入.csv",index_col='order_id')
print(b2b_csv_index)

  order_id  buyer_ban    buyer_name item_description  item_sequence_number  \
0    AA001   53567686  雲端行動科技股份有限公司          電子發票服務費                     1
1    AA001   53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
2    BB001   27934855    美商科高國際有限公司            系統使用費                     1
3    BB001   27934855    美商科高國際有限公司            系統開通費                     2

   item_unit_price  item_quantity  item_amount
0             1000              1         1000
1             2000              2         4000
2              500              1          500
3              300              2          600

=======================================使用.set_index()==========================================
          buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AA001      53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AA001      53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
BB001      27934855    美商科高國際有限公司            系統使用費                     1
BB001      27934855    美商科高國際有限公司            系統開通費                     2

          item_unit_price  item_quantity  item_amount
order_id
AA001                1000              1         1000
AA001                2000              2         4000
BB001                 500              1          500
BB001                 300              2          600
=======================================使用index_col==========================================
          buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AA001      53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AA001      53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
BB001      27934855    美商科高國際有限公司            系統使用費                     1
BB001      27934855    美商科高國際有限公司            系統開通費                     2

          item_unit_price  item_quantity  item_amount
order_id
AA001                1000              1         1000
AA001                2000              2         4000
BB001                 500              1          500
BB001                 300              2          600

In [105]:
# 利用loc指定擁有某值的index
b2b_csv = pd.read_csv("B2B發票匯入.csv",index_col='order_id')
loc_order = b2b_csv.loc['AA001']
print('==============================選取一個row==============================','\n',loc_order,'\n')
loc_order2 = b2b_csv.loc[['AA001','BB001']]
print('==============================選取兩個row(AA001,BB001)===============================','\n',loc_order2)
test = b2b_csv.loc['AA001','item_quantity']
print('===============index裡的某row============================','\n',test)

==============================選取一個row==============================
           buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AA001      53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AA001      53567686  雲端行動科技股份有限公司          電子發票代辦費                     2

          item_unit_price  item_quantity  item_amount
order_id
AA001                1000              1         1000
AA001                2000              2         4000

==============================選取兩個row(AA001,BB001)===============================
           buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AA001      53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AA001      53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
BB001      27934855    美商科高國際有限公司            系統使用費                     1
BB001      27934855    美商科高國際有限公司            系統開通費                     2

          item_unit_price  item_quantity  item_amount
order_id
AA001                1000              1         1000
AA001                2000              2         4000
BB001                 500              1          500
BB001                 300              2          600
===============index裡的某row============================
 order_id
AA001    1
AA001    2
Name: item_quantity, dtype: int64

In [101]:
# iloc利用index位置找出資料
b2b_iloc_csv = pd.read_csv("B2B發票匯入.csv")
print(b2b_iloc_csv)
# 跟loc一樣可搜尋單筆與多筆
print(b2b_iloc_csv.iloc[[0,3]])

  order_id  buyer_ban    buyer_name item_description  item_sequence_number  \
0    AA001   53567686  雲端行動科技股份有限公司          電子發票服務費                     1
1    AA001   53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
2    BB001   27934855    美商科高國際有限公司            系統使用費                     1
3    BB001   27934855    美商科高國際有限公司            系統開通費                     2

   item_unit_price  item_quantity  item_amount
0             1000              1         1000
1             2000              2         4000
2              500              1          500
3              300              2          600
  order_id  buyer_ban    buyer_name item_description  item_sequence_number  \
0    AA001   53567686  雲端行動科技股份有限公司          電子發票服務費                     1
3    BB001   27934855    美商科高國際有限公司            系統開通費                     2

   item_unit_price  item_quantity  item_amount
0             1000              1         1000
3              300              2          600

In [111]:
# rename()可更改index和columns
# Q1:columns不會直接更改DataFrame本身，要透過變數去呈現才會
# Q2:index會直接更改DataFrame

rename_columns = b2b_iloc_csv.rename(columns={'order_id':'fuck'})
# 用axis更改index
rename_columns = rename_columns.rename({1:2,2:4},axis='index')
# 用axis更改columns
rename_columns = rename_columns.rename({'buyer_ban':'pussy'},axis='columns')
print(rename_columns)

# =================================================================================

rename_index = b2b_csv.rename(index={'AA001':'AXSS'})
print(rename_index)

    fuck     pussy    buyer_name item_description  item_sequence_number  \
0  AA001  53567686  雲端行動科技股份有限公司          電子發票服務費                     1
2  AA001  53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
4  BB001  27934855    美商科高國際有限公司            系統使用費                     1
3  BB001  27934855    美商科高國際有限公司            系統開通費                     2

   item_unit_price  item_quantity  item_amount
0             1000              1         1000
2             2000              2         4000
4              500              1          500
3              300              2          600
          buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AXSS       53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AXSS       53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
BB001      27934855    美商科高國際有限公司            系統使用費                     1
BB001      27934855    美商科高國際有限公司            系統開通費                     2

          item_unit_price  item_quantity  item_amount
order_id
AXSS                 1000              1         1000
AXSS                 2000              2         4000
BB001                 500              1          500
BB001                 300              2          600

In [128]:
# Drop()
print('原本的=','\n',b2b_csv)

drop_col = b2b_csv.drop(columns=['buyer_name'])
print(drop_col)

原本的=
           buyer_ban    buyer_name item_description  item_sequence_number  \
order_id
AA001      53567686  雲端行動科技股份有限公司          電子發票服務費                     1
AA001      53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
BB001      27934855    美商科高國際有限公司            系統使用費                     1
BB001      27934855    美商科高國際有限公司            系統開通費                     2

          item_unit_price  item_quantity  item_amount
order_id
AA001                1000              1         1000
AA001                2000              2         4000
BB001                 500              1          500
BB001                 300              2          600
          buyer_ban item_description  item_sequence_number  item_unit_price  \
order_id
AA001      53567686          電子發票服務費                     1             1000
AA001      53567686          電子發票代辦費                     2             2000
BB001      27934855            系統使用費                     1              500
BB001      27934855            系統開通費                     2              300

          item_quantity  item_amount
order_id
AA001                 1         1000
AA001                 2         4000
BB001                 1          500
BB001                 2          600

gropuby() 跟 sql的groupby根本一毛一樣

In [177]:
# gropuby() 可以將資料依照自己要的column分組
b2b_csv_o = pd.read_csv("B2B發票匯入.csv")
b2b_group_by = b2b_csv_o.groupby("item_sequence_number")
# size
print(b2b_group_by.size(),"\n======================================")
print(d.head(2))

item_sequence_number
1    2
2    2
dtype: int64
======================================
  order_id  buyer_ban    buyer_name item_description  item_sequence_number  \
0    AA001   53567686  雲端行動科技股份有限公司          電子發票服務費                     1
1    AA001   53567686  雲端行動科技股份有限公司          電子發票代辦費                     2
2    BB001   27934855    美商科高國際有限公司            系統使用費                     1
3    BB001   27934855    美商科高國際有限公司            系統開通費                     2

   item_unit_price  item_quantity  item_amount
0             1000              1         1000
1             2000              2         4000
2              500              1          500
3              300              2          600