# gropuby() 跟 sql的groupby根本一毛一樣

In [67]:
import pandas as pd
import numpy as np

In [38]:
# gropuby() 可以將資料依照自己要的column分組
b2b_csv_o = pd.read_csv("B2B發票匯入.csv")
b2b_csv_o

,order_id,buyer_ban,buyer_name,item_description,item_sequence_number,item_unit_price,item_quantity,item_amount
0,AA001,53567686,雲端行動科技股份有限公司,電子發票服務費,1,1000,1,1000
1,AA001,53567686,雲端行動科技股份有限公司,電子發票代辦費,2,2000,2,4000
2,BB001,27934855,美商科高國際有限公司,系統使用費,1,500,1,500
3,BB001,27934855,美商科高國際有限公司,系統開通費,2,300,2,600

In [39]:
b2b_buyer_ban = b2b_csv_o.groupby("buyer_ban")
b2b_item_description = b2b_csv_o.groupby("item_description")
# size
print(b2b_buyer_ban.size())

buyer_ban
27934855    2
53567686    2
dtype: int64

In [37]:
b2b_buyer_ban.get_group(53567686)

,order_id,buyer_ban,buyer_name,item_description,item_sequence_number,item_unit_price,item_quantity,item_amount
0,AA001,53567686,雲端行動科技股份有限公司,電子發票服務費,1,1000,1,1000
1,AA001,53567686,雲端行動科技股份有限公司,電子發票代辦費,2,2000,2,4000

In [66]:
print(b2b_item_description.get_group('系統使用費'))
# 可使用.groups()每個組有什麼資料與資料類型
print(b2b_item_description.groups)

  order_id  buyer_ban  buyer_name item_description  item_sequence_number  \
2    BB001   27934855  美商科高國際有限公司            系統使用費                     1

   item_unit_price  item_quantity  item_amount
2              500              1          500
{'系統使用費': Int64Index([2], dtype='int64'), '系統開通費': Int64Index([3], dtype='int64'), '電子發票代辦費': Int64Index([1], dtype='int64'), '電子發票服務費': Int64Index([0], dtype='int64')}

# Groupby運算

In [86]:
df = pd.DataFrame({
    'A':np.random.randn(8),
    'B':np.random.randn(8),
    'C':['YO','CX','YO','CX','YO','CX','YO','CX']
}) 
c =  df.groupby('C').sum()
c

           A         B
C
CX  2.214139  1.296825
YO  0.243871 -1.907940

# Pandas使用多層索引

parse_dates:将csv中的时间字符串转换成日期格式
1.infer_datetime_format=True 可減少csv解析日期格式時間
2.keep_date_col=True/False参数则是用来指定解析为日期格式的列是否保留下来

In [122]:
apple = pd.read_csv('date_time_name.csv',parse_dates=['date'])
apple.head()

      name      time       date
0    'Bob'  21:33:30 2019-10-10
1  'Jerry'  21:30:15 2019-10-10
2    'Tom'  21:25:30 2019-10-10
3  'Vince'  21:20:10 2019-10-10
4   'Hank'  21:40:15 2019-10-10

In [127]:
使用keep_date_col前 = pd.read_csv('date_time_name.csv',parse_dates=[['time','date']],infer_datetime_format=True)
print(使用keep_date_col前)
使用keep_date_col後 = pd.read_csv('date_time_name.csv',parse_dates=[['time','date']],infer_datetime_format=True,keep_date_col=True)
print(使用keep_date_col後)

            time_date     name
0 2019-10-10 21:33:30    'Bob'
1 2019-10-10 21:30:15  'Jerry'
2 2019-10-10 21:25:30    'Tom'
3 2019-10-10 21:20:10  'Vince'
4 2019-10-10 21:40:15   'Hank'
            time_date     name      time        date
0 2019-10-10 21:33:30    'Bob'  21:33:30  2019-10-10
1 2019-10-10 21:30:15  'Jerry'  21:30:15  2019-10-10
2 2019-10-10 21:25:30    'Tom'  21:25:30  2019-10-10
3 2019-10-10 21:20:10  'Vince'  21:20:10  2019-10-10
4 2019-10-10 21:40:15   'Hank'  21:40:15  2019-10-10

In [141]:
# 可使用合併index，同值的會合一
apple_in = apple.set_index(['date','name'])
apple_in_key = apple.set_index(keys = ['date','name'])
print(apple_in_key)

                        time
date       name
2019-10-10 'Bob'    21:33:30
           'Jerry'  21:30:15
           'Tom'    21:25:30
           'Vince'  21:20:10
           'Hank'   21:40:15
                        time
date       name
2019-10-10 'Bob'    21:33:30
           'Jerry'  21:30:15
           'Tom'    21:25:30
           'Vince'  21:20:10
           'Hank'   21:40:15

sort_index() 對index裡面的值進行排序
1.inplace = True：不創建新的對象，直接對原始對象進行修改
2.inplace = False：對數據進行修改，可放進變數然後不會改變原始值。
默認是False，即創建新的對象進行修改，原對像不變，和深複製和淺複製某些類似。

In [149]:
apple_time = apple.set_index(['time'])
apple_time.sort_index(inplace=True)
print(apple_time)

             name       date
time
21:20:10  'Vince' 2019-10-10
21:25:30    'Tom' 2019-10-10
21:30:15  'Jerry' 2019-10-10
21:33:30    'Bob' 2019-10-10
21:40:15   'Hank' 2019-10-10

set_names()   更改index的名稱

In [180]:
banana = pd.read_csv('date_time_name.csv',index_col=['name','time'])
banana.index.set_names(['bitch','axss'],inplace=True)
print(banana)

                        date
bitch   axss
'Bob'   21:33:30  2019-10-10
'Jerry' 21:30:15  2019-10-10
'Tom'   21:25:30  2019-10-10
'Vince' 21:20:10  2019-10-10
'Hank'  21:40:15  2019-10-10